
body {
    font-family: "Manrope", serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.logo-mobile{
    display: none;
}
.logo{
    width: 140px;
    height: auto;
    background-color: rgb(255, 255, 255,0);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    padding: 1rem;
}
.directions-header{
    width: 100%;
    background-color: #F1F3F2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.2rem;
    border-top: 5px solid #B43237;
}
.directions-header i{
    margin-right: 1rem;
    color: #B43237;
}
.directions-header .social-header i{
    color: #7e7e7e;
    cursor: pointer;
    transition: color 0.4s ease;
    font-size: 1.2rem;
}
.directions-header .social-header i:hover{
    color: #B43237;
}
/* .directions-header .social-header{
    border-left:2px solid #B43237;
    padding-left: 1rem;
} */
/* #hero {
    width: 100%;
    height: 100vh;
    background: url('/images/hero2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
} */

#hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden; /* Ensures no overflow beyond the section */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area */
    z-index: -1; /* Places the video behind all content */
    pointer-events: none; /* Prevents interaction with the video */
}



.hero-text{
    height: 100%;
    width: 100%;
    background-color: #2222224b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 10rem; */
    gap: 0;
}
.hero-text .product-btn {
    background-color: #B43237;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    width: max-content;
}
.hero-text p{
    max-width: 1000px;
}
.pasta-image{
    max-width: 500px; 
    /* background-color: #264653; */
}
.pasta-image-container{
    /* width: 100%; */
    position: absolute;
    top: 15rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border-radius: 56px ;
    padding: 0 2rem;
}
nav {
    position: absolute;
    /* top: 2rem; */
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index:999;
}
nav, .hero-text, .hero-contact {
    position: relative; /* Ensures these elements stack above the video */
    z-index: 1;
}

nav a {
    color: rgb(77, 77, 77);
    /* width: 180px; */
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}
nav a:hover {
    color: #B43237;
}


.hero-text h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
}
.text-animation {
    font-size: 1.8rem;
    padding: 1rem;
    padding-right: 0.2rem;
    height: 40px;
}
.text-animation-wrapper{
    height: 80px;
    display: flex;
    align-items: center;
}
section{
    padding: 20px;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#products{
    width: 90%;
    margin-bottom: 5rem;
}
#about{
    width: 100%;
    padding: 5rem 0;
}
#about img{
    width: 300px;
}
.about-container{
    max-width: 1200px;
}
.products-container{
    max-width: 1200px;
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 στήλες */
    grid-gap: 20px; /* Απόσταση μεταξύ των στοιχείων */
    max-width: 1200px; /* Ορίζουμε μέγιστο πλάτος */
    margin: 0 auto; 
    margin-bottom: 2rem;
}

.product {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    /* Set fixed height for uniformity */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Space between text and image */
    height: 350px; /* Fixed height for all cards */
}
.product-btn{
    padding:  0.5rem 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 300px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 8px;
    background-color: #B43237;
    color: white;
}

.product-btn:hover {
    background-color:#a07940 ;
    color:white ;

}

.product h3{
    margin: 0;
    margin-bottom: 0.5rem;
}
.product p{
    margin: 0;
}
.product img {
    /* Force images into consistent size */
    max-width: 100%;
    height: 200px; /* Fixed height for images */
    object-fit:contain; 
    margin-bottom: 1rem;
}


.product:hover {
    transform: scale(1.05); /* Ελαφρύ zoom στο hover */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Ενίσχυση σκιάς στο hover */
}

@media (max-width: 768px) {
    .product {
        height: auto; /* Allow height to adjust for smaller screens */
    }

    .product img {
        height: 150px; /* Reduce image height for smaller devices */
    }
    .products-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 3 στήλες */
        grid-gap: 20px; /* Απόσταση μεταξύ των στοιχείων */
        max-width: 360px; /* Ορίζουμε μέγιστο πλάτος */
        margin: 0 auto; /* Κεντράρισμα στο μέσο της σελίδας */
    }
}

/* CONTACT FORM */
.contact{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 740px;
}
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.map-container {
    height: 100%;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.form-container {
    padding: 0 4rem 3rem;
    margin: 0;
}

.form-container h2 {
    color: black;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input,
.form-container textarea,
.form-container button {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.form-container input:focus,
.form-container textarea:focus {
    outline: none;
    border-color: black;
}

.form-container button {
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #a07940;
    color: white;
}
.form-container p{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.social-icons{
    display: flex;
    gap: 1rem;
}
.social-icon i{
    transition: all ease 0.3s;
    font-size: 3rem;
    color: black;
}
.social-icon i:hover{
    transform: translateY(-3px);
    color: #9e773d;
}
.social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1000px) {
    .contact-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact-section:first-child{
        order: 2;
    }
    .contact-section:last-child{
        order: 1;
    }
    .map-container iframe{
        height: 400px;
    }
}
@media (max-width: 550px) {
    .form-container {
        padding: 1rem 4rem;
        margin-bottom: 2rem;
    }
}
footer{
    /* background-image: url(images/wooden-texture-looking-out-dark-background.jpg); */
    background-position: bottom;
}
.footer{
    width: 100%;
    height: 180px;
    background-color: #F8F7F4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(17, 17, 17);
    position: relative;
}
.footer-rights{
    display: flex;
    flex-direction: column;
    align-items:start;
}
.footer-rights a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.footer-container{
    /* max-width: 1080px; */
    margin: 0 auto;
    height: 160px;
    background-color: #3A9B88;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: relative;
    background-color: #3A9B88;
}

.footer .social-icons a i{
    font-size: 2rem;
    color: #000000;
}
.footer-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0;
}
.footer-left p{
    margin: 0;
    padding-bottom: 1rem;
}
.footer-logo{
    height: 10rem;
    border-radius: 50%;
    padding: 1rem;
}

@media (max-width: 1000px) {
    .footer-left{
        display: none;
    }
}
@media (max-width: 500px) {
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-rights{
        align-items: center;
        flex-direction: column-reverse;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 36px;
    }
}


@media (max-width:700px) {
   
    .logo-mobile{
        width: 140px;
    }
    #hero .logo{
        width: 120px;
        margin-top: 2rem;
    }
    .about-container{
        padding: 0 3rem;
    }
    .directions-header{
        flex-direction: column;
        gap: 0;
        align-items: start;
        padding-left: 4rem;
        display: none;
    }
    nav{
        display: none;
    }

    
}
h1{ font-size: 72px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;}

h2{ font-size: 48px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;}

.h2{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
h1.show{
    opacity: 1;
    transform: translateY(0);
}
h2.show{
    opacity: 1;
    transform: translateY(0);
}
.h2.show{
    opacity: 1;
    transform: translateY(0);
}

.hero-contact{
    position: absolute;
    width: 100%;
    bottom: 5rem;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-right: 0;
}
.hero-contact p{
    color: black;
}
.hero-contact-details, .hero-contact-location{
    display: flex;
    background-color: rgba(240, 248, 255,0.2);
    backdrop-filter: blur(12px);
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 2rem;
    padding: 1rem 2rem;
    gap: 2rem;
    width: 340px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.hero-contact-social{
    display: flex;
    background-color: rgba(240, 248, 255,1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 1rem 2rem;
    gap: 0;
    width: 400px;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#hero h1{
    color: #ffffff;
    font-size: 4rem;
    background-color: #b432366e;
    padding: 0.5rem 2rem;
}
.hero-contact h3{
    color: #47371a;
    font-size: 2rem;
    margin: 0;
}
#hero h5{
    font-size: 1.2rem;
    margin: 0;
}
.hero-contact a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    justify-content:center;
}
.flex-container p{
    margin: 0;
}

@media (width<1000px) {
.hero-contact{
    position: absolute;
    gap: 1rem;
    padding-right: 0;
    justify-content: center;
}
.hero-contact-details, .hero-contact-location, .hero-contact-social{
    width: 340px;
    height: 160px;
}
.hero-contact h3{
    font-size: 28px;
}
.hero-contact h1{
    font-size: 3rem;
}
.hero-contact a{
    text-decoration: none;
}

}
.cursor {
    display: inline-block;
    font-weight: bold;
    animation: blink 0.8s step-start infinite;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
@media (width<550px) {

    .hero p {
        max-width: 300px;
    }
    .hero-right{
        height: 520px;
    }
    .hero-contact-details, .hero-contact-location, .hero-contact-social{
        width: 160px;
        height: 70px;
        padding: 1rem;
        gap: 1rem;
    }
    .hero-contact h3{
        font-size: 18px;
    }

    .hero-contact h1{
        font-size: 1rem;
    }
    .hero h2{
        font-size: 2.2rem;
        font-weight: 400;
    }
    .hero-contact a{
        text-decoration: none;
    }    
    .hero-contact{
        bottom: -2rem;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    #hero h1{
        font-size: 2rem;
    }
    .text-animation{
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
    .text-animation span{
        display: none;
    }
    .products-container{
        margin-bottom: 2rem;
    }
    .logo-mobile{
        display: block;
    }
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}
